.add-meeting-main-view {
    display: flex;
    height: 75%;
    width: 100%;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.responsavel-dropdown {
    height: 8%;
    align-items: center;
    align-content: center;
    align-self: center;
    width: 23%;
    padding-left: 3%;
    padding-right: 3%;
    border: 3px;
    border-style: double;
    border-color:  rgb(255, 136, 255);
    background-color: white;
    border-radius: 13px;
}

.dropdown-text {
    font-size: 80%;
    color: purple;
}

.responsavel-dropdown:hover {
    background-color: rgba(252, 252, 252, 0.445);
}


.responsaveis-overflow {
    height: 30%;
    width: 23%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.dropdown-invisible {
    overflow-y: hidden;
}

.meet-inputs {
    height: 20%;
    width: 30%;
    margin-bottom: 10%;
}

.responsavel-selecionado {
    color: white;
    font-size: 70%;
    margin-top: 2%;
}

.criar-reuniao-btn {
    border-style: none;
    background-color: transparent;
    color: white;
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 90%;
}

.back-to-meeting-btn-txt {
    color: white;
    text-decoration-line: none;
    border-style: none;
    font-size: 95%;
}

.back-to-meet-btn {
    border-style: none;
    background-color: transparent;
    
}