.devinfo-view {
    background-color: white;
    height: 80%;
    width: 60%;
    border-radius: 8%;
}

.info-title-text {
    color: #000;
}

li {
    font-weight: 600;
    color: #000;
}

.info-sec-row {
    display: flex;
    flex-direction: column;
}