.membro-view-card {
    background-color: white;
    height: 60%;
    width: 40%;
    border-radius: 5%;
}

.membro-card-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 12px;
    z-index: 2;
}

.membro-card-close {
    margin-top: 8px;
    margin-left: 8px;
    text-decoration-line: none;
}

.member-view-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.selected-member-name {
    font-size: 130%;
    font-weight: 500;
    color: #000;
    margin-top: 10px;
}

.selected-member-email {
    font-size: 100%;
    font-weight: 200;
    color: #000;
}

.selected-member-cargo {
    font-size: 90%;
    font-weight: 200;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #000;
    display: flex;
    flex-direction: row;
    align-self: center;
}

.atualiza-cargo-btn {
    color: #000;
    text-decoration-line: none;
}

.selected-member-in-project-row {
    display: flex;
    flex-direction: row;
}
.selected-member-in-project {
    margin-top: 14px;
}

/* -------------------------------------------------------------- */

.deletar-membro-btn {
    margin-top: 8%;
    padding-top: 4px;
    padding-bottom: 4px;
    align-self: center;
    background-color: red;
    color: white;
    width: 30%;
    border-style: none;
}

.go-project-btn {
    background-color: transparent;
    border-style: none;
    width: 24%;
    color: #000;
    margin-top: 3%;
}

.go-project-btn:hover {
    background-color: rgb(177, 177, 177);
    width: 24%;
    border-radius: 8%;
}

.remove-from-project-btn {
    background-color: transparent;
    border-style: none;
    width: 56%;
    color: #000;
    margin-top: 3%;
}

.remove-from-project-btn:hover {
    background-color: rgb(177, 177, 177);
    width: 56%;
    border-radius: 8%;
}