.member-card {
    background-color: rgb(245, 245, 245);
    border-radius: 8px;
    max-height: 100%;
    height: 70px;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1%;
}

.member-name {
    font-size: 88%;
    font-weight: 800;
    text-decoration-line: none;
    color: #000;
}

.member-class {
    font-size: 65%;
    font-weight: 600;
    color: #000;
}

.member-email {
    font-size: 60%;
    font-weight: 600;
    color: #000;
}
