.catalogo {
    background-color: white;
    border-radius: 8px;
    height: 90%;
    width: 50%;
    display: flex;
}

.catalogo-extras {
    display: flex;
    align-self: center;
    align-content: center;
    align-items: center;
    flex-direction: column; 
    vertical-align: middle;
}

.info-dev-icon {
    color: #000;
    margin-left: 12px;
}
