.back-btn {
    background-color: white;
    color: #721764;
    border: 0cm;
    text-decoration: none;
    text-decoration-line: none;
    margin-right: 38%;
    font-size: 170%;
}

.back-decor {
    text-decoration-line: none;
}